<script context="module">
	import { IconDefault } from "leaflet/src/layer/marker/Icon.Default.js";

	IconDefault.imagePath = "https://unpkg.com/leaflet@1.6.0/dist/images/";
</script>

<script>
	import { setContext, getContext, onDestroy } from "svelte";
	import { marker } from "leaflet/src/layer/marker/Marker.js";

	// Work around a Leaflet 1.6 quirk that requires draggable markers
	// to access popup functionality
	import { popup } from "leaflet/src/layer/Popup.js";

	export let latLng;
	export let options = {};

	let map = getContext("leafletMapInstance");

	export let layer = marker(latLng, options).addTo(map);

	$: layer.setLatLng(latLng);
	layer.on("move", () => (latLng = layer.getLatLng()));

	onDestroy(() => layer.remove());

	setContext("leafletLayer", layer);
</script>

<slot />
