<script>
	import { popup as lpopup } from "leaflet/src/layer/Popup.js";

	import { setContext, getContext, onDestroy, onMount, afterUpdate } from "svelte";

	export let options = {};

	let map = getContext("leafletMapInstance");
	let layer = getContext("leafletLayer");
	let popupContent;

	let popup = lpopup(options, layer).setLatLng(layer.getLatLng()).addTo(map);

	onMount(() => map.whenReady(() => popup.update()));

	onDestroy(() => popup.remove());

	function hide(node) {
		if (node) {
			popup.setContent(node);
		}
	}

	afterUpdate(() => {
		popup.update();
	});

	// The popup anchor is not calculated properly on first map load. Wait until
	// the map has polled the Leaflet CSS, then update the position of the popup.
	map.once("resize", () => {
		popup.update();
	});

	layer.on("move", () => popup.setLatLng(layer.getLatLng()));
</script>

<span use:hide>
	<slot />
</span>
